/*
.DS_Store
!.gitignore
!.rubocop.yml
!.travis.yml
!Gemfile
!README.md
!cpe_aerial
!cpe_aliases
!cpe_appaccess
!cpe_atom
cpe_atom/templates/*
!cpe_bash
cpe_bash/templates/*
!cpe_chef
cpe_chef/templates/*
!cpe_desktop
!cpe_gatekeeper
!cpe_git
cpe_git/templates/*
!cpe_locale
!cpe_newsyslog
!cpe_postfix
!cpe_preferencepanes
!cpe_remotedesktop
!cpe_screensaver
!cpe_ssh
!cpe_user
!cpe_vim
cpe_vim/templates/*
!tests
